html {
  font-size: 1.2em;
}

body {
  background: #DDF7F1;
  font-family: sans-serif;
  line-height: 1.5em;
  text-align: center;  
  font-size: 0.9em;
}

h1{
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  }

img {
  width: 60%;
  display: block;
  height: auto;
  margin: auto;  
  padding: 1.5em;
  max-width: 460px;
}

#img-div {
  background: #9FF8E3;
  padding: 1.5em;
  margin: 0em 20em 0em 20em;
}

#tribute-info {
  background: #9FF8E3;
  padding: 1.5em;
  margin: 0em 20em 0em 20em;
}

figcaption {
  font-style: italic;
  text-align: center;
  font-size: 1.25em;
  line-height: 3em;
}

#subtitle {
  font-size: 1.1em;
  background: #9FF8E3;
}

p1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 1.5em
}

o1 {
  text-align: left;
}

li {
  margin: 0em 0em 0em 9em;
  line-height: 2em;
  font-size: 1.2em;
}

p2 {
  font-style: italic;
  text-align: center;
  background: #DDF7F1;
  padding: 1.5em;
}

#footnote {
  background: #9FF8E3;
  padding: 1.5em 3.35em 1.5em 3.35em;
  margin: 0em 16.75em 5em 16.75em;
  line-height: 4em;
  font-size: 1.2em;
}

.picture-border {
    border-color: #029A77;
    border-width: 1.5em;
    border-style: solid;
}

